<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pending Approval</title>
<style>
body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#0f9d58,#0b6b3a);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.card{
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    max-width:350px;
}
</style>
</head>
<body>

<div class="card">
    <h2>Awaiting Approval</h2>
    <p>Your request is being reviewed.</p>
</div>

<script>
function checkStatus(){
fetch("/check-status/{{ request_id }}/")
.then(res=>res.json())
.then(data=>{
    if(data.status==="approved"){
        window.location.href="/success/{{ request_id }}/";
    }
    else if(data.status==="rejected"){
        window.location.href="/rejected/{{ request_id }}/";
    }
});
}
setInterval(checkStatus,3000);
</script>

</body>
</html>